In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("data.csv",encoding='latin1')

In [3]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

Here we are removing the unwanted coloumns

In [4]:
data.drop(["StockCode","InvoiceDate","CustomerID","Country"],axis=1,inplace=True)

In [5]:
data.head()

  InvoiceNo                          Description  Quantity  UnitPrice
0    536365   WHITE HANGING HEART T-LIGHT HOLDER         6       2.55
1    536365                  WHITE METAL LANTERN         6       3.39
2    536365       CREAM CUPID HEARTS COAT HANGER         8       2.75
3    536365  KNITTED UNION FLAG HOT WATER BOTTLE         6       3.39
4    536365       RED WOOLLY HOTTIE WHITE HEART.         6       3.39

In [6]:
data.to_csv('extracted_data.csv', index=False)